/* Top-level containers * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
  font-family: sans-serif;
  font-size: ROOT-SIZE;
  font-weight: 400; /* Normal (Regular) */
  --line-height: 1.75rem;
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  --correction: 0;
  -webkit-text-size-adjust: 100%;
}

@media (width < NARROW-STEP-WIDTH) {
  /*
  width(chase) + 2 × padding(galley)  # but not extended-padding
    = 37.5rem + 2 × 1rem
    = 39.5rem

  39.5rem × 16px/rem = 632px
  */
  html {
    font-size: NARROW-ROOT-SIZE;
  }
}

body {
  box-sizing: border-box;
  min-height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color */
  /* background-image */
  /* background-size  */
  /* color            */
}

#galley {
  /*
  total-width(galley)
    = width(chase) + 2 × padding(galley) + 2 × extended-padding
    = 37.5rem + 2 × 1rem + 2 × 1rem
    = 41.5rem

  total-width(galley) + width(margin-note) + padding-right(margin-note)
    = 41.5rem + 18.75rem + 1rem
    = 61.25rem

  margin-right(margin-note)
    = −(width(margin-note) + padding-right(margin-note)
        + padding-right(galley) + extended-padding)
    = −(18.75rem + 1rem + 1rem + 1rem)
    = −21.75rem

  margin-left(galley)
    = −(width(margin-note) + padding-right(margin-note))
    = −(18.75rem + 1rem)
    = −19.75rem
  */
  box-sizing: border-box;
  max-width: 100%;
  width: GALLEY-WIDTH;
  margin: 0;
  padding: 2rem 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* background-color */

  margin-left: GALLEY-MARGIN;
}

@media (width < LAYOUT-STEP-WIDTH) {
  #galley {
    margin-left: 0rem;
  }
}

#chase {
  width: CHASE-WIDTH;
  max-width: 100%;
}

#chase > :nth-child(1) {
  margin-top: 0;
}

#chase > :nth-last-child(1) {
  margin-bottom: 0;
}

/* Blocks * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.gap-top {
  margin-top: 0.75em;
}

.gap-bottom {
  margin-bottom: 0.75em;
}

p {
  margin: 0;
}

block-note {
  display: block;
}

block-indent {
  display: block;
  padding-left: 1.5em;
}

block-center {
  display: block;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}

block-quote {
  display: block;
  border-left-width: 0.25em;
  border-left-style: solid;
  /* border-left-color */
  padding-left: 0.75em;
  padding-right: 0.75em;
}

block-math {
  display: block;
}

block-math.left math {
  text-align: left;
  padding-left: 1.5em;
}

block-math.center math {
  text-align: center;
}

block-math.right math {
  text-align: right;
  padding-right: 1.5em;
}

/* Inline elements  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
  /* color */
}

a:link, a:visited {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  /* text-decoration-color */
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
}

a:link:hover, a:visited:hover {
  text-decoration-style: solid;
}

var {
  font-style: italic;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: 0.8125em;
}

sub {
  line-height: 0;
  vertical-align: sub;
  font-size: 0.8125em;
  margin-right: 0.078135em;
  /* smaller subscripts      */
  /* font-size: 0.6875em;    */
  /* margin-left: 0.09375em; */
  /* margin-right: 0.1875em; */
}

semi-bold {
  /* tries 500 then max {w | wgt < 500} then min {w | wgt > 500} */
  /* this often resolves to 500 Medium */
  font-weight: 500;
}

b {
  /* tries 550 then min {wgt | wgt > 550} then max {wgt | wgt < 550} */
  /* this often resolves to 600 Semi Bold (Demi Bold)*/
  font-weight: 550;
}

extra-bold {
  /* tries 650 then min {wgt | wgt > 650} then max {wgt | wgt < 650} */
  /* this often resolves to 700 Bold */
  font-weight: 650;
}

.sb {
  font-weight: 500;
}

.b {
  font-weight: 550;
}

.xb {
  font-weight: 650;
}

i {
  font-style: italic;
}

.i {
  font-style: italic;
}

esc-i {
  display: inline;
  font-style: normal;
}

small-caps {
  display: inline;
  font-variant-caps: small-caps;
  font-variant-numeric: oldstyle-nums;
  letter-spacing: 0.03125em;
}

no-break {
  display: inline;
  text-wrap-mode: nowrap;
}

inline-note:not(.narrow) {
  display: inline;
}

inline-note.narrow {
  display: none;
}

margin-note {
  display: inline;
  float: right;
  clear: right;
  margin: -1rem;
  margin-right: NOTE-MARGIN;
  margin-top: calc(-0.5rem + 1rem - 1em - var(--line-height) * var(--correction));
  padding: 0.5rem 1rem 0.5rem;
  width: NOTE-WIDTH;
  font-size: 0.833333rem;
  line-height: 1.75em;
}

@media (width < LAYOUT-STEP-WIDTH) {
  inline-note.narrow {
    display: inline;
  }

  margin-note:not(.wide) {
    float: unset;
    clear: unset; /* no effect */
    margin: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;  /* no effect */
    font-size: inherit;
    line-height: inherit;
  }

  margin-note.wide {
    display: none;
  }
}

inline-math {
  display: inline;  /* display: inline flow-root; */
  text-wrap-mode: nowrap;
}

/* Fixed-width spaces * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

em-sp {
  display: inline flow-root;
  width: 1.0em;
}

en-sp {
  display: inline flow-root;
  width: 0.5em;
}

sp-3  {
  display: inline flow-root;
  width: 0.333333em;
}

sp-4  {
  display: inline flow-root;
  width: 0.25em;
}

sp-5  {
  display: inline flow-root;
  width: 0.166667em;
}

sp-6  {
  display: inline flow-root;
  width: 0.1em;
}

sp-7  {
  display: inline flow-root;
  width: 0.0625em;
}

sp-8  {
  display: inline flow-root;
  width: 0.041667em;
}

/* Headings * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 550;
}

h1.gap-top {
  margin-top: 1.5rem;
}

h1.gap-bottom {
  margin-bottom: 0.75rem;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 550;
}

h2.gap-top {
  margin-top: 1.5rem;
}

h2.gap-bottom {
  margin-bottom: 0.75rem;
}

h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 550;
}

h3.gap-top {
  margin-top: 1.5rem;
}

h3.gap-bottom {
  margin-bottom: 0.75rem;
}

/* Monospace elements * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

block-code {
  display: block;
  overflow-x: auto;
  margin: 0;
  /* margin-left: -0.5em; */
  border-radius: 0.25em;
  /* padding: 0em; */
  /* padding-left: 0.5em; */
  padding: 0.125em 0.5em 0.125em;
  /* background-color */
}

pre {
  font-family: monospace;
  font-size: 1.0em;
  font-weight: 400;
  line-height: 1.5em;
  overflow-x: auto;
  margin: 0;
}

code {
  font-family: monospace;
  font-size: 1.0em;
  font-weight: 400;
}

hi-group {
  display: inline;
}

/* Lists  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
  list-style-type: "›  ";
  /* • – › ‣ ▸ */
}

li > ul {
  margin: 0;
  list-style-type: "–  ";
}

li {
  margin: 0.25em 0 0.25em;
}

li li {
  margin: 0;
}

ul.unmarked {
  list-style-type: none;
}

li > ul.unmarked {
  list-style-type: none;
}

ul.unmarked > li {
  margin: 0;
}

/* Tables * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {
  margin: 0;
  border: none;
  padding: 0;
  border-collapse: collapse;
}

tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* border-bottom-color */
}

tbody tr:nth-last-child(1) {
  border-bottom: none;
}

th {
  padding: 0.25em 1em 0.25em;
  text-align: left;
  font-weight: 550;
}

td {
  padding: 0.25em 1em 0.25em;
  text-align: left;
}

/* Other  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

hr {
  border-width: 1px 0 0;
  border-style: solid;
  /* border-color */
  margin: 1em 0 1em;
}

details {
  margin: 0;
  padding: 0;
  margin-left: -0.5em;
  padding-left: 0.5em;
  /* background-color */
}

details summary {
  margin: 0;
  padding: 0;
}

details summary::marker {
  content: "+  ";
  /* color */
  font-weight: 500;
  text-decoration-line: none;
}

details[open] summary::marker {
  content: "−  ";
}

details summary > span {
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  /* text-decoration-color */
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
}

details summary > span:hover {
  text-decoration-style: solid;
}
