/*
total-width(galley)
  = width(chase) + 2 × padding(galley) + 2 × extended-padding
  = 37.5rem + 2 × 1rem + 2 × 1rem
  = 41.5rem

total-width(galley) + 2 × (width(margin-note) + padding-right(margin-note))
  = 41.5rem + 2 × (18.75rem + 1rem)
  = 81.0rem
*/

#galley {
  margin-left: delete;
}

@media (width < LAYOUT-STEP-WIDTH) {
  #galley {
    margin-left: delete;
  }
  inline-note.narrow {
    display: delete;
  }
  margin-note:not(.wide) {
    float: delete;
    clear: delete;
    margin-top: delete;
    margin-bottom: delete;
    margin-left: delete;
    margin-right: delete;
    padding: delete;
    width: delete;
    font-size: delete;
    line-height: delete;
  }
  margin-note.wide {
    display: delete;
  }
}

@media (width >= LAYOUT-STEP-WIDTH) {
  margin-note {
    text-align: delete;
    text-justify: delete;
  }
}

@media (width < CTR-LAYOUT-STEP-WD) {
  inline-note.narrow {
    display: inline;
  }
  margin-note {
    float: unset;
    clear: unset;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
  }
  margin-note.wide {
    display: none;
  }
}

@media (width >= CTR-LAYOUT-STEP-WD) {
  margin-note {
    text-align: initial;
    text-justify: initial;
  }
}
