/*
total-width(galley)
  = width(chase) + 2 × padding(galley) + 2 × extended-padding
  = 37.5rem + 2 × 1rem + 2 × 1rem
  = 41.5rem

total-width(galley) + 2 × (width(margin-note) + padding-right(margin-note))
  = 41.5rem + 2 × (18.75rem + 1rem)
  = 81.0rem
*/

#galley {
  margin-left: delete;
}

@media (width < LAYOUT-STEP-WIDTH) {
  #galley {
    margin-left: delete;
  }
  margin-note {
    float: delete;
    clear: delete;
    margin: delete;
    margin-right: delete;
    margin-top: delete;
    padding: delete;
    width: delete;
    font-size: delete;
    line-height: delete;
  }
}

@media (width < CTR-LAYOUT-STEP-WD) {
  margin-note {
    float: unset;
    clear: unset;
    margin: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
  }
}
