@media (width < LAYOUT-STEP-WIDTH) {
  inline-note.narrow {
    display: delete;
  }
  margin-note:note(.wide) {
    background-color: delete;
    filter: delete;
  }
  margin-note::before {
    content: delete;
    color: delete;
    font-weight: delete;
    margin-left: delete;
    margin-right: delete;
  }
  margin-note.wide {
    display: delete;
  }
}

@media (width < CTR-LAYOUT-STEP-WD) {
  inline-note.narrow {
    display: inline;
  }
  margin-note {
    background-color: unset;
    filter: var(--note-f);
  }
  margin-note::before {
    content: none;
    color: unset;
    font-weight: unset;
    margin-left: 0;
    margin-right: 0;
  }
  margin-note.wide {
    display: none;
  }
}
