html {
  --body-bg:    rgb( 16,  16,  16);
  --body-fg:    rgb(224, 224, 224);
  --galley-bg: rgba( 16,  16,  16, 0.5);
  --pre-bg:     rgb( 16,  16,  16); /* rgb(14, 14, 14) */
  --table-bd:   rgb( 64,  64,  64);
  --hr-bd:      rgb(224, 224, 224);
  --quote-bg:   rgb( 16,  16,  16);
  --quote-bd:   rgb( 48,  48,  48);

  --body-img: radial-gradient(rgb(28, 28, 28) 1px, transparent 0);

  --note-f: brightness(0.4);
  --mgn-bg: rgba(16, 16, 16, 0.5);

  --a-fg:  rgb(176, 128, 255);
  --a-dec: rgba(224, 224, 224, 0.25);

  /* --note-a-fg: rgb(96, 72, 144); */
  /* --note-a-dec: rgba(144, 144, 144, 0.25); */

  --error-fg: rgb(256, 64, 64);
  --error-bg: rgb(24, 24, 24);
}

html {
  font-family: "FF Meta", "FiraGO", "Iosevka", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--body-bg);
  background-image: var(--body-img);
  background-size: 1rem 1rem;
  color: var(--body-fg);
}

#galley {
  background-color: var(--galley-bg);
}

block-note {
  /* color: var(--note-fg); */
  filter: var(--note-f);
}

block-quote {
  background-color: var(--quote-bg);
  border-left-color: var(--quote-bd);
}

inline-note {
  /* color: var(--note-fg); */
  filter: var(--note-f);
}

margin-note {
  background-color: var(--mgn-bg);
}

@media (width < LAYOUT-STEP-WIDTH) {
  margin-note {
    background-color: unset;
    /* color: var(--note-fg); */
    filter: var(--note-f);
  }
/*
  margin-note a {
    color: var(--note-a-fg);
  }
  margin-note a:link, margin-note a:visited {
    text-decoration-color: var(--note-a-dec);
  }
*/
}

hybridoc-error {
  color: var(--error-fg);
  background-color: var(--error-bg);
}

a {
  color: var(--a-fg);
}

a:link, a:visited {
  text-decoration-color: var(--a-dec);
}

/*
block-note a, inline-note a {
  color: var(--note-a-fg);
}

block-note a:link, block-note a:visited, inline-note a:link, inline-note a:visited {
  text-decoration-color: var(--note-a-dec);
}
*/

h1 {
  background-image: linear-gradient(to right, oklch(60% 0.16 300deg), oklch(80% 0.16 15deg));
/*background-image: linear-gradient(to right, oklch(60% 0.20 285deg), oklch(80% 0.20 30deg));*/
/*background-image: linear-gradient(to right, oklch(70% 0.30 285deg), oklch(80% 0.25 30deg));*/
  background-clip: text;
  color: transparent;
  width: fit-content;
}

a.permalink:link {
  text-decoration-line: none;
  font-variant-numeric: lining-nums;
}

block-code {
  background-color: var(--pre-bg);
}

pre {
/*
  font-family: "Victor Mono", monospace;
  font-size: 0.9em;
  font-weight: 500;
*/
/*
  font-family: "Sudo", monospace;
  font-size: 0.935em;
  font-weight: 400;
  line-height: 1.666667em;
*/
  font-family: "Iosevka", monospace;
  font-size: 0.953125em;
  font-weight: 400;
  line-height: 1.75em;
}

/*
width(chase) + 2 × padding(galley)  # but not extended-padding
  = 37.5rem + 2 × 1rem
  = 39.5rem

39.5rem × 15px/rem = 592.5px
592.5px × 0.75 = 444.5px

15px × 0.9 = 13.5px
15px × 0.8 = 12.0px
*/

@media (width < PRE-STEP-WIDTH) {
  pre {
    font-size: 0.8em;
  }
}

code {
/*
  font-family: "Victor Mono", monospace;
  font-size: 0.9em;
  font-weight: 500;
*/
/*
  font-family: "Sudo", monospace;
  font-size: 0.935em;
  font-weight: 400;
  line-height: 1.666667em;
*/
  font-family: "Iosevka", monospace;
  font-size: 0.953125em;
  font-weight: 400;
  line-height: 1.75em;
}

pre .sb, code .sb, .sb code {
  font-weight: 600;
}

pre b, code b, b code {
  font-weight: 650;
}

pre .xb, code .xb, .xb code {
  font-weight: 750;
}

/* hi-group.delimiter { } */

hi-group.paren[data-depth="1"] {
  color: rgb(224, 192, 255);
}

hi-group.paren[data-depth="2"] {
  color: rgb(192, 128, 255);
}

hi-group.keyword {
  color: rgb(128, 176, 255);
}

hi-group.flow {
  color: rgb(255, 192, 160);
}

hi-group.constant {
  color: rgb(208, 160, 255);
}

hi-group.function {
  color: rgb(128, 255, 192);
}

hi-group.operator {
  color: rgb(128, 255, 192);
}

hi-group.scope {
  color: rgb(128, 192, 255);
}

hi-group.type {
  color: rgb(0, 255, 192);
}

/* hi-group.identifier { } */

hi-group.numeric {
  color: rgb(255, 144, 144);
}

hi-group.character {
  color: rgb(255, 128, 160); /* 255, 160, 240 */
  background-color: rgb(24, 24, 24);
  border-radius: 0.125em;
}

hi-group.quote {
  color: rgb(192, 128, 255);
  background-color: rgb(24, 24, 24);
  border-radius: 0.125em;
}

hi-group.comment {
  color: rgb(128, 128, 128);
}

tr {
  border-bottom-color: var(--table-bd);
}

hr {
  border-color: var(--hr-bd);
}

details {
  background-color: var(--pre-bg);
}

details summary::marker {
  color: var(--a-fg);
}

details summary > span {
  text-decoration-color: var(--a-dec);
}
