@media (width >= 39.5rem) {
  p {
    text-align: justify;
    text-justify: inter-word;
  }
}

@media (width >= LAYOUT-STEP-WIDTH) {
  margin-note {
    text-align: initial;
    text-justify: initial;
  }
}
