html {
/*--body-bg:   rgb(  0,   0,   0);*/
  --body-bg:   rgb( 12,  12,  12);
  --body-fg:   rgb(224, 224, 224);
/*--chase-bg:  rgb( 12,  12,  12);*/
  --chase-bg: rgba( 12,  12,  12, 0.5);
  --pre-bg:    rgb(  8,   8,   8);
  --table-bd:  rgb( 64,  64,  64);
  --hr-bd:     rgb(224, 224, 224);
  --quote-bd:  rgb( 64,  64,  64);

/*--body-img: radial-gradient(rgb(16, 16, 16) 1px, transparent 0);*/
  --body-img: radial-gradient(rgb(24, 24, 24) 1px, transparent 0);

  --a-fg:  rgb(176, 128, 255);
  --a-dec: rgba(224, 224, 224, 25%);
}

html {
  font-family: "FiraGO", "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-height: 100dvh;
  width:      100dvw;
  max-width:  100%;
  margin:  0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--body-bg);
  background-image: var(--body-img);
  background-size: 1rem 1rem;
  color: var(--body-fg);
}

#chase {
  box-sizing: border-box;
  max-width: 100%;
  width: 50rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: var(--chase-bg);
}

#block {
  width: 42rem;
  max-width: 100%;
}

#block > :nth-child(1) {
  margin-top: 0;
}

#block > :nth-last-child(1) {
  margin-bottom: 0;
}

.gt {
  margin-top: 0.75rem;
}
.gb {
  margin-bottom: 0.75rem;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 550;
}

h1.gt {
  margin-top: 1.5rem;
}

h1 code {
  font-weight: 650;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 550;
}

h2.gt {
  margin-top: 1.5rem;
}

h2 code {
  font-weight: 650;
}

h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 550;
}

h3.gt {
  margin-top: 1.5rem;
}

h3 code {
  font-weight: 650;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
  list-style-type: "•\2002";
}

li > ul {
  margin: 0;
  list-style-type: "‣\2002";
}

li {
  margin: 0.25rem 0 0.25rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

table {
  margin: 0;
  border: none;
  padding: 0;
  border-collapse: collapse;
}

tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--table-bd);
}

tbody tr:nth-last-child(1) {
  border-bottom: none;
}

th {
  padding: 0.25rem 1rem 0.25rem;
  text-align: left;
  font-weight: 550;
}

td {
  padding: 0.25rem 1rem 0.25rem;
  text-align: left;
}

pre {
  font-family: "Victor Mono", monospace;
  font-size: 0.9375em;  /* em not rem */
  font-weight: 500;
  line-height: 1.5em;   /* em not rem */
  margin: 0 0 0 -0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--pre-bg);
  overflow-x: auto;
}

hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--hr-bd);
  margin: 1rem 0 1rem;
}

blockquote {
  margin: 0;
  border-top: none;
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: var(--quote-bd);
  border-right: none;
  border-bottom: none;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0;
}

code {
  font-family: "Victor Mono", monospace;
  font-size: 0.9375em;  /* em not rem */
  font-weight: 500;
}

a {
  color: var(--a-fg);
}

a:link, a:visited {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--a-dec);
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
}

a:link:hover, a:visited:hover {
  text-decoration-style: solid;
}

.var {
  font-style: italic;
}

sup {
  line-height: 0;
}

sub {
  line-height: 0;
  vertical-align: sub;
  font-size: 0.8125em;
  margin-right: 0.078125em;
}

sub.sm {
  font-size: 0.6875em;
  margin-left: 0.09375em;
  margin-right: 0.1875em;
}

.sb {
  font-weight: 500;
}

.sb code {
  font-weight: 600;
}

code .sb {
  font-weight: 600;
}

pre .sb {
  font-weight: 600;
}

b {
  font-weight: 550;
}

b code {
  font-weight: 650;
}

code b {
  font-weight: 650;
}

pre b {
  font-weight: 650;
}

i {
  font-style: italic;
}

.ni {
  font-style: normal;
}

.sc {
  font-variant-caps: small-caps;
  font-variant-numeric: oldstyle-nums;
  letter-spacing: 0.03125em;
}

.en {
  display: inline-block;
  width: 0.5em;
}

.sx {
  display: inline-block;
  width: 0.166667em;
}

.dc {
  display: inline-block;
  width: 0.1em;
}

.tw {
  display: inline-block;
  width: 0.083333em;
}

.mu {
  display: inline-block;
  width: 0.041667em;
}
