@font-face { font-family: 'GFS Bodoni'; font-style: normal; font-weight: 400; src:url('/fonts/GFSBodoni.otf')       format('opentype'); }
@font-face { font-family: 'GFS Bodoni'; font-style: italic; font-weight: 400; src:url('/fonts/GFSBodoniIt.otf')     format('opentype'); }
@font-face { font-family: 'GFS Bodoni'; font-style: normal; font-weight: 700; src:url('/fonts/GFSBodoniBold.otf')   format('opentype'); }
@font-face { font-family: 'GFS Bodoni'; font-style: italic; font-weight: 700; src:url('/fonts/GFSBodoniBoldIt.otf') format('opentype'); }
