@font-face { font-family: 'Century Schoolbook'; font-style: normal; font-weight: 500; src: url('/fonts/C059-Roman.otf')      format('opentype'); }
@font-face { font-family: 'Century Schoolbook'; font-style: italic; font-weight: 500; src: url('/fonts/C059-Italic.otf')     format('opentype'); }
@font-face { font-family: 'Century Schoolbook'; font-style: normal; font-weight: 700; src: url('/fonts/C059-Bold.otf')       format('opentype'); }
@font-face { font-family: 'Century Schoolbook'; font-style: italic; font-weight: 700; src: url('/fonts/C059-BoldItalic.otf') format('opentype'); }
