@font-face { font-family: 'New Computer Modern Math'; font-weight: 400; src: url('/fonts/NewCMMath-Regular.otf') format('opentype'); }
@font-face { font-family: 'New Computer Modern Math'; font-weight: 500; src: url('/fonts/NewCMMath-Book.otf')    format('opentype'); }
@font-face { font-family: 'New Computer Modern Math'; font-weight: 700; src: url('/fonts/NewCMMath-Bold.otf')    format('opentype'); }

@font-feature-values "New Computer Modern Math" {
  @stylistic { calligraphic: 1; }
}

*.ca {
  font-variant-alternates: stylistic(calligraphic);
  font-feature-settings: 'ss01';
  -moz-font-feature-settings: 'ss01';
  -webkit-font-feature-settings: 'ss01';
}
